* {
  margin: 0;
  padding: 0;
}
body{
  overflow-x: hidden;
  background-color: #FFFFF0;
}
/*----------landing----------------------------------------------------------------------------------------*/
.landing-con{
   width: 100vw;
   height: 110vh;
  
}
.landing-title{
  justify-content: center;
  margin-left: 5rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  height: 60%;
  width: 100%;
  
}
.landing-title h1{
  font-size: 5rem;
}
.landing-title .hello {
  font-size: 6rem;
}
.landing-title h2{
  font-size: 1.4rem;
  padding-top: 2rem;
}
.type-text{
 
  
  display: flex;
}
.type-text h2{
  font-size: 1.4rem;
  padding-top: 2rem;
}
.typing{
  margin-left: .5rem;
  position: relative;
  color: red;
}
/*@keyframes blink{
  from{
   opacity: 0;
  }
  to {
   opacity: 1;
  }
}
.typing::after{
  content: '';
  position: absolute;
  width: 1px;
  height: 45%;
  right: -6px;
  border-right: 2px solid black;
  animation: blink .5s infinite ease;
} */
.arrow{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
 
  height: 20%;
}
.landing-text{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
 padding: 1rem;
}
@keyframes arrow-an {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0); opacity: 1;}
  40% {
    -webkit-transform: translateY(-20px); opacity: 0;}
  60% {
    -webkit-transform: translateY(-15px); opacity: 1;} 
}
.arrow h2 i{
  font-size: 2rem;
 
}
.an-start{
  animation: arrow-an 1.4s 2s infinite;
}

/*-------------nav-----------------------------------------------------------------------------------------*/
  nav{
    width: 100vw;
    background-color: black;
    height: 5rem;
    position: fixed;
    top: 0;
  }
  .nav-link{
    float: right;
    width: 30%;
    height: 100%;
   
    justify-content: center;
    align-items: center;
    display: flex;
    margin-right: 1rem;
  }
  ul {
    justify-content: center;
    align-items: center;
    display: flex;
    
  }
  ul a li{
    margin: 1.3rem;
    list-style: none;
    text-decoration: none;
    font-size: 2rem;
    color: white
  }
  ul a{
    text-decoration: none;
  }
/*----------------------*/
.scroll-hide{
  transform: translateY(0px);
  transition: .4s;
}
.scroll-show{
  transform: translateY(-200px);
  transition: .4s;
}
/*---------about-------------------------------------------------------------------------------------------*/
.about{
  width: 100vw;
  height: 100vh;

}
.about-header-text{
  z-index: 2;
}
.about-con{
  width: 100%;
  
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: absolute;
  overflow-y: hidden;
 
  width: 100%;
  height: 100%;
}

.grad-show{
   
    opacity: .6;
    transition: 1s;
}
.grad-hide{
   
    opacity: 1;
    transition: 1s;
} 
.about-title {
 
  font-size: 2.3rem;
  letter-spacing: 2rem;

} 
.grad{
  position: absolute;
  overflow-y: hidden;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: black;
}
.about-title h1{
  background: -webkit-linear-gradient(90deg, rgb(255, 255, 255), rgba(255, 255, 255));
  background-clip: text;
   -webkit-text-fill-color: transparent;
   margin-bottom: 2rem;
 
}
.about-text{
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 10rem;
  height: 24vh;
 z-index: 2;
}
.about-text .underline{
  
   background-color: azure;
   width: 1px;
   height: 100%;
}
.about-text h1{
  margin-top: 4rem;
 
   padding-bottom: 1rem;
 
 
 
}
.about-img{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.about-img .img{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;

}
.image-banner{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
.about-text p{
  width: 60%;
}
/*-----------------------------*/
.text-show{
  transform: translateY(0px);
  transition: 1.7s .4s;
  opacity: 1;
}
.text-hide{
  transform: translateY(-200px);
  transition: 1s  .3s;
  opacity: 0;
}
/*-----------------------------*/
.text-title-show{
  transform: translateY(0px);
  transition: 1s .2s;
  opacity: 1;
}
.text-title-hide{
  transform: translateY(500px);
  transition: 1s ;
  opacity: 0;
}
/*-----------------------------*/
.text-para-show{
  transform: translateX(0px);
  transition: 1s .8s;
  opacity: 1;
}
.text-para-hide{
  transform: translateX(-1000px);
  transition: 1s ;
  opacity: 0;
}
/*-----------------------------*/
.text-under-show{
  transform: translateY(0px);
  transition: 1s .3s;
  opacity: 1;
}
.text-under-hide{
  transform: translateY(100px);
  transition: 1s ;
  opacity: 0;
}
/*--------------------------------------------------------------------------------------------------------*/