.Ui-con {
    
    width: 100%;
}
.black {
    background-color: black;
    transition: 2s .5s;
}
.bu {
    background-color: none;
   
}
.ui-div {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.project-con-ui {
 
}
.img-div-ui {
 
    
}
.grad-ui {
    background-color: black;
    width: 100%;
    height: 100%;
    
    z-index: 1;
    opacity: .5;
    border-radius: 10px;
}
.img-div-ui a {
   
}
.image-banner-ui {

    
}
.ui-grd-con {
   
}